@import url(https://fonts.bunny.net/css?family=changa-one:400);

$primary--color : #DD5D2C;

$second--color : #F6F6F6;

$third--color : #1F1F1F;

$trait--color : #CFCECE;

$big--text : 'Changa One', display;