@import url(https://fonts.bunny.net/css?family=changa-one:400);
@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

$head--height : 120px;

$primary--color : #DD5D2C;

$second--color : #F6F6F6;

$third--color : #1F1F1F;

$trait--color : #CFCECE;

$big--text : 'Changa One', display;

$text : 'Inter', sans-serif;